.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  height: 60vh;
  width: 60vh;
  background-color: black;
}

.cell {
  background-color: tan;
}